// body {
//   background-color: pink;
//   .App-header {
//     background-color: #282c34;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     font-size: calc(10px + 2vmin);
//     color: white;
//     .App-logo {
//       height: 40vmin;
//       pointer-events: none;
//       background-color: purple;
//       @media (prefers-reduced-motion: no-preference) {
//         animation: App-logo-spin infinite 20s linear;
//       }
//       @keyframes App-logo-spin {
//         from {
//           transform: rotate(0deg);
//         }
//         to {
//           transform: rotate(360deg);
//         }
//       }
//     }
//   }
// }

///globals
:root {
  --blackground: navy;
  --primary-color: white;
  --secondary-color: gray;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 2vw;
}
body {
  background-color: var(--blackground);
  color: var(--primary-color);
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

///Typography
h1 {
  font-size: clamp(3.2em, 4em, 5em);
}
h2 {
  font-size: 1.5em;
}
p {
  font-size: 1em;
}
div {
  font-size: 1em;
}

///Components
