/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: "magnolia";
  src: local("magnolia"), url("./fonts/magnolia_sky.ttf") format("truetype");
}
@font-face {
  font-family: "sulphur";
  src: local("sulphur"),
    url("./fonts/SulphurPoint-Regular.ttf") format("truetype");
}
